body{
    background-color:#003C4E;
}

.title{
    color: white;
    text-align: center;
}

.content{
    width: 900px;
    margin: 0 auto;
}

.main_page{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border: 1px solid black;
}

.num_squere{
    background-color: #008CB6;
    color: black
}

.fizz{
    background-color: #00DA9D;
    color:black;
}

.fizzbuzz{
    background-color:#FF2E6D ;
    color: balck;
}

.buzz{
    background-color: #FFCF4E;
    color:black;
}